@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');

.bienvenida {
  background: radial-gradient(83.7% 91.5% at 78% 100%, #ff77c2 0%, rgb(86, 131, 255) 100%);
  font-family: "Inter", sans-serif;
  background-attachment: fixed;
}

.navbar {
  background-color: rgb(86, 131, 255);
  font-family: "Manrope", sans-serif;
}

.carrito {
  background-color: #ff77c2;
}

.carrito:hover {
  filter: brightness(0.85);
}

.lupa:hover {
  filter: brightness(0.85);
}

.categorias {
  font-weight: 600;
}

.categorias a:hover {
  color: #ff77c2;
}

.pets {
  height: 570px;
}

.footer {
  background-color: rgb(86, 131, 255);
}

.us {
  background-color: rgb(246, 244, 255);
  font-family: "Manrope", sans-serif;
}
